* {
    margin: 0;
    padding: 0;
}

.head {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0);
    opacity: 0.99;
    background-image: url('Images/back.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 22px 30px;
}

nav a img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#logo-head {
    position: absolute;
    top: 28%;
    left: 6%;
    color: white;
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
}

.navigation ul {
    flex: 1;
    text-align: right;
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    background-color: #2d00b4;
}

#li-1 {
    animation: movedown 0.7s 1 0.6s forwards;
    visibility: hidden;
}

#li-2 {
    animation: movedown 0.6s 1 0.5s forwards;
    visibility: hidden;
}

#li-3 {
    animation: movedown 0.5s 1 0.4s forwards;
    visibility: hidden;
}

#li-4 {
    animation: movedown 0.4s 1 0.3s forwards;
    visibility: hidden;
}

@keyframes movedown {
    0% {
        transform: translateY(-100px);
        visibility: visible;
    }

    100% {
        transform: translateY(0);
        visibility: visible;
    }
}

.navigation ul li a {
    text-decoration: none;
    color: rgb(112, 160, 255);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 19px;
    transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
}

.navigation ul li a:hover {
    color: white;
    transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.outer {
    height: 80vh;
    width: 10px;
    position: relative;
    border-radius: 0 70px 70px 0;
    background-color: rgb(100, 165, 255);
    animation: moveright 0.8s ease-in 1 0.7s forwards;
}

@keyframes moveright {
    from {
        width: 10px;
    }

    to {
        width: 230px;
    }
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-box h1 {
    font-size: 7rem;
    font-family: 'Orbitron', sans-serif;
}

.text-box p {
    margin: 10px -8px 40px;
    font-size: 16px;
    font-family: 'Tajawal', sans-serif;
}

.text-box a img {
    height: 5vh;
    width: 10%;
    box-shadow: 1px 2px 3px 2px rgb(54, 54, 54);
    display: inline-block;
    text-decoration: none;
    position: relative;
}

nav .fa {
    display: none;
}

#feat {
    height: 300px;
    width: 350px;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    right: 0;
    animation: f 1s ease-in-out 1 1s forwards;
    visibility: hidden;
}

@keyframes f {
    0% {
        transform: scale(0);
        visibility: visible;
    }

    100% {
        transform: scale(1);
        visibility: visible;
    }
}

#feat1 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: 160px;
    animation: f 1s ease-in-out 1 1.5s forwards;
    visibility: hidden;
}

@media(max-width: 750px) {
    .text-box h1 {
        font-size: 2rem;
    }

    .text-box p {
        font-size: 15px;
    }

    #logo-head,
    .slider,
    #feat,
    #feat1 {
        display: none;
    }

    #li-1,
    #li-2,
    #li-3,
    #li-4 {
        animation: none;
        visibility: visible;
    }


    .navigation ul li {
        display: block;
        margin: 15px 0;
        background-color: #4661ff;
    }

    .navigation ul li a {
        font-size: 20px;
        color: white;
        transition: none;
    }

    .navigation ul li a:hover {
        font-weight: bold;
        color: #002a5d;
    }

    .navigation ul li a::before {
        content: '';
        position: absolute;
        margin-left: -10px;
        width: 6%;
        height: 0%;
        border-left: 3px solid #2d00b4;
        display: block;
        transition: 0.5s ease-in;
    }

    .navigation ul li a:hover::before {
        height: 60%;
    }

    .navigation {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #4661ff;
        height: 100vh;
        width: 100%;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 25px;
    }

    .navigation ul {
        position: absolute;
        top: 60%;
        left: 50%;
        height: 90%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .text-box a img {
        height: 4vh;
        width: 15vh;
    }

    .outer {
        height: 72vh;
        width: 2vh;
        border-radius: 0 70px 70px 0;
        animation: moveright 1s ease-in 1 1s forwards;
    }

    @keyframes moveright {
        from {
            width: 2vh;
        }

        to {
            width: 20vh;
        }
    }
}

/****************************** Second *******************************/

.up {
    width: 95%;
    margin: auto;
    padding-top: 80px;
}

.up h1 {
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.up p {
    font-size: 16px;
    font-family: 'Tajawal', sans-serif;
    padding: 10px;
    text-align: center;
}

.row {
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 8%;
    display: flex;
    transition: 0.5s;
}

.card .circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 142, 142);
    clip-path: circle(130px at center);
    transition: 0.5s;
}

.card:hover .circle::before {
    clip-path: circle(360px at center);
    background-color: rgb(194, 241, 255);
}

.card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    pointer-events: none;
    transition: 0.5s;
}

.card:hover img {
    left: 70%;
    height: 40vh;
}

.card .up-col {
    position: relative;
    width: 50%;
    padding: 20px 20px 20px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .up-col {
    opacity: 1;
    visibility: visible;
}

h2 {
    font-family: 'Orbitron', sans-serif;
}

.up .para {
    text-align: left;
}

@media(max-width: 750px) {
    .row {
        flex-direction: column;
    }

    .card {
        width: 350px;
    }

    .card:hover{
        height: 580px;
    }

    .card .up-col{
        width: 100%;
        left: 0;
        padding: 30px;
    }

    .card .circle::before {
        clip-path: circle(100px at center);
    }
    
    .card img {
        height: 300px;
    }
    
    .card:hover img {
        top: 70%;
        left: 50%;
        height: 200px;
    }
}