* {
    margin: 0;
    padding: 0;
}

.head {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0);
    opacity: 0.95;
    background-image: url('images/back.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 22px 30px;
}

nav a img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#logo-head {
    position: absolute;
    top: 28%;
    left: 6%;
    color: white;
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
}

.navigation ul {
    flex: 1;
    text-align: right;
}

.slider {
    position: absolute;
    right: 30px;
    width: 10px;
    height: 40px;
    z-index: -1;
    border-radius: 50px;
    background-image: linear-gradient(to bottom right, white, rgb(0, 68, 255));
    animation: box 2s ease-in-out 1 0.5s forwards;
}

@keyframes box {
    from {
        width: 10px;
    }

    to {
        width: 600px;
    }
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navigation ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
}

.navigation ul li a:hover {
    font-weight: bold;
    color: #002a5d;
}

.navigation ul li a::before {
    content: '';
    position: absolute;
    margin-left: -10px;
    width: 6%;
    height: 0%;
    border-left: 3px solid #2d00b4;
    display: block;
    transition: 0.5s ease-in;
}

.navigation ul li a:hover::before {
    height: 60%;
}

.outer {
    height: 600px;
    width: 10px;
    position: relative;
    border-radius: 0 100px 100px 0;
    background-color: rgb(131, 183, 255);
    animation: moveright 1s ease-in 1 2s forwards;
}
@keyframes moveright {
    from{
        width: 10px;
    }
    to{
        width: 220px;
    }
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-box h1 {
    font-size: 7rem;
    font-family: 'Orbitron', sans-serif;
}

.text-box p {
    margin: 10px 0px 40px;
    font-size: 13px;
    font-family: 'Electrolize', sans-serif;
}

.text-box a img {
    height: 40px;
    width: 10%;
    border: 1px solid white;
    display: inline-block;
    text-decoration: none;
    position: relative;
}

nav .fa {
    display: none;
}

#feat {
    height: 300px;
    width: 350px;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    right: 0;
    animation: f 1s ease-in-out 1 3s forwards;
    visibility: hidden;
}
@keyframes f {
    0%{
        transform: scale(0.5);
        visibility: visible;
    }
    100%{
        transform: scale(1);
        visibility: visible;
    }
}

#feat1 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: 160px;
    animation: f 1s ease-in-out 1 4s forwards;
    visibility: hidden;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 2rem;
    }

    #logo-head,
    .slider {
        display: none;
    }

    .navigation ul li {
        display: block;
    }

    .navigation {
        position: absolute;
        top: 0;
        right: -200px;
        background-color: #4661ff;
        height: 100vh;
        width: 200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 25px;
    }

    .navigation ul {
        padding: 40px;
    }

    .text-box a img {
        height: 30px;
        width: 100px;
    }
}